html {
    line-height: 1;
	text-size-adjust: 100%;
	box-sizing: border-box;
	font-size: 62.5%;
	tab-size: 4;
	word-break: break-word;
    cursor: default;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6em;
    line-height: 1.4;
    background: #222;
}
*, *:before, *:after {
	box-sizing: inherit;
	background-repeat: no-repeat;
}

html, body {
    height: 100%;
    width: 100%;
}
section, header, foooter {
    display: block;
}
html, body, h1, p, svg, button {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

section {
    display: flex;
    max-width: 920px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #fff;
    padding: .8rem;

    a { color: #069; }

    #app {
        order: 0;
        flex: 0 0 100%;
        width: 100%;

        svg {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    header {
        order: 1;
        flex: 1 1 auto;
        padding: 1.2rem .6rem .4rem .6rem;
        color: #373839;

        h1 { font-size: 1.4rem; }
        p { font-size: 1.3rem; }
    }
    footer {
        order: 2;
        flex: 0 0 auto;
        padding: 1.2rem .6rem .4rem .6rem;
        align-self: flex-end;
        text-align: right;
    }
}


button {
    display: inline-block;
    font: 1.3rem;
    color: inherit;
    margin: 0 auto;
    padding: 0;
    text-transform: none;
    padding: 8px 20px;
    background-color: #666;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color .35s linear;

    &:hover { background-color: #333; }
    &:focus { outline: none; }
}
